// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Noe Bold';
  src:url('Noe Text Bold.eot');
  src:url('Noe Text Bold.woff') format('woff');
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: 'Noe Book';
  src:url('Noe Text Book.eot');
  src:url('Noe Text Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  // Keep here for later
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 1032px;
  // min-width: 1032px;
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 165px;
  margin-right: 165px;
}

li, a, button {
  font-family: "Noe Book",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
}

.right-nav {
  list-style: none;
}

.right-nav li {
  display: inline-block;
}

#medio-logo {
  font-size: 25px;
  font-family: "Noe Bold",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: black;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(0,0,0,0.54);
} 

a:visited {
  color: rgba(0,0,0,0.54);
} 

a:hover {
  color: rgba(0,0,0,0.75);
  transition: all 0.3s ease 0s;
}

a:active {
  color: #000000;
}