main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.story-title {
  padding-top: 10px;
  font-size: 42px;
  width: 700px;
}

.story-subtitle {
  padding-top: 26px;
  width: 700px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.story-subtitle h3 {
  font-size: 34px;
}

.story-subtitle h4 {
  font-size: 30px;
}

story-body {
  width: 700px;
  margin-top: 22px;
}

story-body h1 {
  font-size: 34px;
}

story-body h2 {
  font-size: 30px;
}


story-body p {
  font-size: 21px;
  margin-top: 29px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

#story-publish-btn {
  color: white;
  font-size: 14px;
  height: 25px;
  background-color: rgb(168, 3, 168);
  text-align: center;
  border: 0px solid rgb(168, 3, 168);
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

[data-medium-focused = "true"] {
  outline: none;
}